<mapper namespace="com.guigu.srb.core.mapper.DictMapper">
<insert id="insertBatch">
    insert into dict (id , parent_id ,
    name ,
    value ,
    dict_code
    ) values
    <foreach collection="list" item="item" index="index" separator=",">
        (
        #{item.id} ,
        #{item.parentId} ,
        #{item.name} ,
        #{item.value} ,
        #{item.dictCode}
        )
    </foreach>
</insert>
</mapper>